.billboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  align-items: center;
  height: 100vh;

  img {
    margin-bottom: 2.4rem;
  }

  h1 {
    font-size: 3.2rem;
    text-align: center;
  }  

  p {
    text-align: center;
  }

  section {
    padding-top: 12rem;
    padding-bottom: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60rem;
  }

  .billboard-content {
    transition: all 1s ease-in-out;
    opacity: 0;
    bottom: -4rem;
    position: relative;
  }

  .billboard-content--show {
    opacity: 1;
    bottom: 0;
  }

  footer {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }
}
