$sidebar-width: 140px;

.app__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  flex-basis: $sidebar-width;
  max-height: 100vh;
  width: $sidebar-width;
  max-width: $sidebar-width;
  border-right: 1px solid #D7DBDD;
  background-color: #323A49;

  nav {
    padding-top: 1.6rem;
  }
}

.app__sidebar-section {
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
}

.app__sidebar-item {
  cursor: pointer;
  padding: 0.6rem 1.6rem;
  color: #CFD4E0;
  font-size: 1.4rem;
  border-left: 0.4rem solid transparent;
  display: block;

  &:hover {
    color: #ffffff;
    border-left: 0.4rem solid #5F7DC9;
  }

  &--active {
    border-left: 0.4rem solid #5F7DC9;
    color: #ffffff;
    background-color: rgba(#ffffff,0.02);
  }
}

.app__sidebar-subheading {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: normal;
  color: #818EA7;
  display: block;
  padding-bottom: 0.8rem;
  padding-top: 0.9rem;
  padding-left: 20px;
  padding-right: 20px;
}
