$sidebar-width: 140px;

.app__sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: $sidebar-width;
  height: 100vh;
  max-height: 100vh;
  width: $sidebar-width;
  max-width: $sidebar-width;
  border-right: 1px solid #D7DBDD;
  background-color: #323A49;
  padding: 10px 0;
}

.app__sidebar-section {
  margin-bottom: 32px;
}

.app__sidebar-item {
  cursor: pointer;
  padding: 0.4rem 1.6rem;
  color: #CFD4E0;
  font-size: 1.4rem;
  border-left: 4px solid transparent;
  margin: 0.5rem 0;

  &:hover {
    color: #ffffff;
  }

  &--active {
    border-left: 4px solid #5F7DC9;
    color: #ffffff;
  }
}

.app__sidebar-subheading {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #818EA7;
  padding-left: 20px;
  padding-right: 20px;
}
