$placeholder-color: rgba(#5F7DC9,0.40);

.searchBar__container {
  position: relative;

  svg {
    position: absolute;
    left: 0.6rem;
    top: 50%;
    margin-top: -1rem;
    fill: rgba(50,58,73,0.60);
  }
}

input.searchBar {
  width: 20rem;
  outline: none;
  border: 0;
  border-radius: 3px;
  background: rgba(52,60,76,0.03);
  color: #323A49;
  padding-left: 3.2rem;
  padding-right: 1.2rem;
  height: 3.2rem;
  margin: auto 0;

  &:focus {
    border-color: $placeholder-color;
  }

  &::-webkit-input-placeholder {
    color: $placeholder-color;
  }

  &:-moz-placeholder {
    color: $placeholder-color;
  }

  &::-moz-placeholder {
    color: $placeholder-color;
  }

  &:-ms-input-placeholder {
    color: $placeholder-color;
  }
}

input.searchBar--frontPage {
  background: rgba(0,0,0,0.1);
  color: rgba(#ffffff,1.0);

  $placeholdertwo-color: rgba(#ffffff,0.60);

  &:focus {
    border-color: rgba(#ffffff,1.0);
  }

  &::-webkit-input-placeholder {
    color: $placeholdertwo-color;
  }

  &:-moz-placeholder {
    color: $placeholdertwo-color;
  }

  &::-moz-placeholder {
    color: $placeholdertwo-color;
  }

  &:-ms-input-placeholder {
    color: $placeholdertwo-color;
  }
}
