$height: 24vh;

.hero {
  background-color: #ffffff;
  min-height: $height;
  margin-bottom: 3.2rem;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);

  .container {
    min-height: $height;
    padding-top: 4vh;
    padding-bottom: 4vh;
  }

  .tabnav {
    margin-bottom: -4vh;
  }
}
