.o-shelf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &--outlined {
    border: 1px solid rgba(222,226,230,1.0);
    padding: 1.6rem 1.6rem;
    border-radius: 0.4rem;
  }

  &--recto {
    justify-content: flex-end;
  }

  .button {
    margin-bottom: 0;
  }

  &--baseline {
    align-items: baseline;
  }
}
