.o-shelf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;

  &--outlined {
    border: 1px solid rgba(222,226,230,1.0);
    border-radius: 0.4rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  &--recto {
    justify-content: flex-end;
  }

  &--verso {
    justify-content: flex-start;
  }

  .button {
    margin-bottom: 0;
  }

  &--baseline {
    align-items: baseline;
  }
}
