$sizing: (xx-small: 0.4rem, x-small: 0.8rem, small: 1.6rem, medium: 2.4rem, large: 3.2rem, x-large: 6.4rem, xx-large: 9.6rem, jumbo: 12.8rem);



// Colors

$color-blue-dark: #5F7DC9;
$color-blue-light: #7F9BE5;
$color-gray-dark: #818EA7;
$color-gray-light: #CFD4E0;
