@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
  // Disable text selection
  -webkit-user-select: none;
  animation: fadein 0.5s;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  width: 100vw;

  &__body {
    display: flex;
    flex-direction: row;
  }

  &__viewport {
    background-color: #f8f9fa;
    height: 486px;
    max-height: 486px;
    overflow-y: scroll;
  }

}

.app__header {
  height: 6.0rem;
  background-color: #5F7DC9;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;

  svg {
    fill: #ffffff;
    align-self: center;
    position: absolute;
    left: 2.0rem;
  }
}

.searchBar {
  background-color: #ffffff;
  height: 3.2rem;
  padding: 0.6rem 1rem;
  width: 20.0rem;
  margin-bottom: 0px;
}

.page-title {
  font-size: 2.4rem;
}
