$padding: 2rem;

body {
  background-color: #f8f9fa;
}

.registry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainNav {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(50,58,73,0.10);

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 10.8rem;
    width: 100%;
    padding-top: $padding;
    padding-bottom: $padding;
  }
}

.branding {
  font-size: 2.0rem;
  line-height: 1;

  strong {
    margin-left: 0.5rem;
  }
}


.registry-footer {
  color: rgba(173,181,189,1.0);
  background-color: #282833;
  padding-top: $padding * 4;
  padding-bottom: $padding * 4;
}
.registry-footer__branding {
  p {
    font-size: 2.4rem;
    width: 18.0em;
  }
}
