$padding: 3.2rem;

body {
  background-color: #f8f9fa;
}

.mainNav {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(222,226,230,0.8);

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    max-height: 10.8rem;
    width: 100%;
    padding-top: $padding;
    padding-bottom: $padding;
  }
}

.branding {
  font-size: 2.0rem;
  line-height: 3.8rem;

  .icon {
    margin-right: 0.5rem;
  }
}

.nav-group {
}
