$padding: 2rem;

.mainNav {
  background-color: #ffffff;
  // border-bottom: 1px solid rgba(222,226,230,0.8);
  // box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(50,58,73,0.10);

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    max-height: 10.8rem;
    width: 100%;
    padding-top: $padding;
    padding-bottom: $padding;
  }

  &--promo {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    border-bottom: none;
  }

  .nav-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;

    a {
      line-height: 2rem;
    }
  }
}
